<?xml version="1.0"?>
<config>
    <modules>
        <C4B_XmlImport>
            <version>0.1.0</version>
        </C4B_XmlImport>
    </modules>
    <global>
        <blocks>
            <xmlimport>
                <class>C4B_XmlImport_Block</class>
            </xmlimport>
        </blocks>
        <models>
            <xmlimport>
                <class>C4B_XmlImport_Model</class>
                <resourceModel>xmlimport_resource</resourceModel>
            </xmlimport>
            <xmlimport_resource>
                <class>C4B_XmlImport_Model_Resource</class>
            </xmlimport_resource>
            <fastsimpleimport>
                <rewrite>
                    <import_entity_product>C4B_XmlImport_Model_Import_Entity_Product</import_entity_product>
                </rewrite>
            </fastsimpleimport>
            <importexport>
                <rewrite>
                    <import_uploader>C4B_XmlImport_Model_Uploader</import_uploader>
                </rewrite>
            </importexport>
        </models>
        <helpers>
            <xmlimport>
                <class>C4B_XmlImport_Helper</class>
            </xmlimport>
        </helpers>
        <template>
            <email>
                <xmlimport_notifications_report_template>
                    <label>XmlImport Report</label>
                    <file>xmlimport_report.html</file>
                    <type>html</type>
                </xmlimport_notifications_report_template>
            </email>
        </template>
    </global>
    <default>
        <c4b_xmlimport>
            <general>
                <import_xml_dir>media/import/XML</import_xml_dir>
                <success_dir>media/import/success</success_dir>
                <error_dir>media/import/error</error_dir>
            </general>
            <images>
                <duplicate_append_suffix>1</duplicate_append_suffix>
            </images>
            <preprocessing>
                <create_category>1</create_category>
                <create_attributes>0</create_attributes>
                <root_category>2</root_category>
            </preprocessing>
            <notifications>
                    <report_template>xmlimport_notifications_report_template</report_template>
                    <report_recipients>a:0:{}</report_recipients>
            </notifications>
        </c4b_xmlimport>
    </default>
    <phpunit>
        <suite>
            <modules>
                <C4B_XmlImport />
            </modules>
        </suite>
    </phpunit>
</config>