<?xml version="1.0"?>
<config>
    <tabs>
        <c4b translate="label" module="xmlimport">
            <label>C4B</label>
            <sort_order>1000</sort_order>
        </c4b>
    </tabs>
   <sections>
        <c4b_xmlimport translate="label" module="xmlimport">
            <label>XML Product Import</label>
            <tab>c4b</tab>
            <frontend_type>text</frontend_type>
            <sort_order>680</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <import_xml_dir>
                            <label>XML Import Directory</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>This is the directory the product's import xml files are loaded from.</comment>
                        </import_xml_dir>
                        <success_dir>
                            <label>Success Directory</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Successfully imported product files are moved here.</comment>
                        </success_dir>
                        <error_dir>
                            <label>Error Directory</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Failed import files are moved here. Check the log/import.log for error messages.</comment>
                        </error_dir>
                    </fields>
                </general>
                <images translate="label">
                     <label>Images</label>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <duplicate_append_suffix>
                            <label>Append suffix to duplicates</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[If disabled, images with duplicate names will not be uploaded unless it is newer.]]>
                            </comment>
                        </duplicate_append_suffix>
                    </fields>
                </images>
                <preprocessing translate="label">
                    <label>Pre-processing actions</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                           <root_category>
                            <label>Root Category</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_category</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[The root category used when creating missing categories.]]>
                            </comment>
                        </root_category>
                        <create_category>
                            <label>Create categories</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[Create non-existing categories.]]>
                            </comment>
                        </create_category>
                        <create_attributes translate="label">
                            <label>Create Missing Attributes.</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Missing attributes will be created with type "select".</comment>
                        </create_attributes>
                        <ignored_new_attributes translate="label">
                            <label>Ignored new attributes</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[Comma separated list of attributes that will not be created.]]>
                            </comment>
                        </ignored_new_attributes>
                    </fields>
               </preprocessing>
               <notifications translate="label">
                    <label>Notifications</label>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <report_recipients translate="label">
                            <label>Report Recipients</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>xmlimport/adminhtml_system_config_email</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </report_recipients>
                        <report_template>
                            <label>Report Email template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </report_template>
                    </fields>
               </notifications>
            </groups>
        </c4b_xmlimport>
    </sections>
</config>